<h3>Listado de Heroes</h3>
<div *ngIf="eliminado; else nohthingWasDeleted">
  <h4>Heroe borrado: <small class="text-danger">{{ eliminado }}</small></h4>
</div>

<ng-template #nohthingWasDeleted>
  <h4>No se ha borrado ningún heroe.</h4>
</ng-template>


<button 
  *ngIf="heroName.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger mt-2">
  Borrar último heroe
</button>

<ul class="mt-3 list-group">
  <li *ngFor="let name of heroName" 
      class="list-group-item">
      <strong>{{ name }}</strong> 
  </li>
</ul>
